/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Styles for screens 768px and below */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Styles for screens 480px and below */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: black;
}
.text-boxes{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 60px;
}
.text-boxes .text-box{
  height: 380px;
  max-width: 660px;
  width: 100%;
  margin: 55px 0;
}
.text-boxes .text-box .topic{
  font-size: 18px;
  font-weight: 600;
  color: lightblue;
  margin: 4px;
}
.text-boxes .text-box textarea{
  height: 100%;
  width: 100%;
  padding: 30px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border: 1px solid #29fd53;
  border-radius: 8px;
  background: black;
}
.text-box textarea::-webkit-scrollbar{
  display: none;
}
.text-boxes .text-box button{
  height: 45px;
  width: 155px;
  color: #fff;
  background: #29fd53;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.text-boxes .text-box button:hover{
  background: #29fd53;
}
@media (max-width: 400px) {
  .text-boxes .text-box button{
    width: 100%;
  }
}
h3{
    font-size: 18px;
    font-weight: 600;
    color: #29fd53;
    margin: 4px;
}
.article--viewer_content .a-wrapper .content .text pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.article--viewer_content .a-wrapper .content .text pre {
    padding: 20px;
    background-color: var(--gfg-grey-bg);
    color: var(--color-black);
    font-size: 12pt;
    overflow: auto;
    white-space: pre;
}
pre{
    background-color: #29fd53;
    border-radius: 10px;
    color: rgba(0,0,0,.9);
    font-family: Consolas,monospace;
    margin-bottom: 10px;
    overflow: auto;
    padding: 10px;
}
h2{
    font-size: 30px;
    font-weight: 800;
    color: #29fd53;
    margin: 4px;    
}
h3-1{
  color: #29fd53;
}
.topic-1{
  color: lightcyan;
}
.topic-2{
  color: aquamarine;
}
.topic-3{
  color: lightskyblue;
}
/* ///// */
