*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
}
header{
    width: 100%;
}
.navbar{
    background-color: black !important;
    z-index: 2000 !important;
    width: 100%;
}
#menu-icon{
display: none;
}
/* Styles for screens 768px and below */
@media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
    #menu-icon{
        display: block !important;
        }
  }
  
  /* Styles for screens 480px and below */
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }
  }
:root{
    --bg-color: black;
    ---text-color: white;
    --main-color: #29fd53;   
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}
#navbar{
    display: flex;
    transition: 1s !important;
}
#navbar a{
    color: var(---text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
#navbar a:hover{
    color: var(--main-color);
}
#navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(---text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(---text-color);
    cursor: pointer;
    z-index: 10001;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    #navbar a{
        padding: 5px 0;
        margin: 0px 20;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    #navbar{
        display: grid !important;
        grid-template-columns: 100%;
        position: absolute;
        top: 0;
        text-align: center;
        background-color: black !important;
        transition: 1s;
        transform-origin: top;
        transform: scale(1,0);
        width: 100vw;
        z-index: 2000;
    }

    .aftermenu{
transform: scale(1,1) !important;
    }


    #navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    #navbar a:hover{
        color: var(---text-color);
        transform: translateY(5px);
    }
    #navbar a.active{
        color: var(---text-color);
    }
   
    /* above  //responsive navbar code here */
}
h4{
    color: #29fd53;
    text-align: center;
}
h1-2{
    color: #29fd53;
}
h3-2{
    color: aquamarine;
}
*{
    margin: 0;
    padding: 0;
  }
  body{
    display: flex;
    align-items: center;
    background-color: #1d1f20;
    justify-content: center;
  }
  h1{
    font-family: "Incosolata", Consolas, monospace;
    font-size: 4em;
    color: #29fd53;
  }
  .typewriter{
    position: relative;
  }
  .typewriter::after{
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color: #1d1f20;
    width: 100%;
    animation: typing 3s steps(14) alternate infinite,
                line 1s infinite;
  }
  @keyframes typing{
    to{
        width: 0%;
    }
  }
  @keyframes line {
    50%{
        color: transparent;
    }
}
video{
    width: 100%;
    background-size: cover;
}
